.claim {
    padding: 30px 10px;
    h1 {
        color: $secondary_color;
        font-size: 48px;
        font-weight: bold;
        padding: 10px 0;
    }
    h3 {
        color: $primary_color;
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 10px;
    }
    li {
        padding: 5px 0;
    }
    i {
        color: $secondary_color;
        font-size: 24px;
        vertical-align: middle;
    }  
    a {
        font-size: 18px;
        text-decoration: none;
        &:hover {
            color: $secondary_color;
        }
    }
}
.image-claim {
    vertical-align: middle;
}

// media queries
@media all and (max-width: 500px) {
    .claim {
        padding: 30px 18px;
    }
}