* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
}
ul li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #212529;
    &:hover {
        text-decoration: underline;
    }
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    background-color: #fff;
    padding: 25px 80px 15px 80px;
}

@media all and (max-width: 500px) {
    .sticky {
        padding: 40px 80px;
    }
}
